body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prod-header {
  background-color: #7CB9E8;
  height: 100px;
  text-align: center;
}

.header-text {
  font-weight: 600;
  color: white;
  font-size: 36px;
  padding: 25px;
}

/* ----HomeNavbar---- */
/* ----HomeNavbar---- */
/* ----HomeNavbar---- */

.homenavbar-logo {
  width: 400px;
}

@media only screen and (max-width: 992px) {
  .homenavbar-logo {
    width: 100%;
  }
}

.homenavbar-nav {
  font-weight: 200;
}

@media only screen and (max-width: 992px) {
  .homenavbar-nav {
    width: 100%;
  }
}

.homenavbar-icon {
  width: 30px;
  margin-right: 10px;
}

.hn-mailicon {
  border-right: 2px solid #7CB9E8;
  padding-right: 16px;
}

@media only screen and (max-width: 992px) {
  .hn-mailicon {
    border: none;
  }
}

.hn-fbicon {
  margin-left: 12px;
  border-right: 2px solid #7CB9E8;
  height: 36px;
}

.hn-igicon {
  margin-left: 20px;
}

@media only screen and (max-width: 992px) {
  .homenavbar-text {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .no-need {
    display: none;
  }
}

.mailto {
  text-decoration: none !important;
  color: black !important;
}

.mailto-div {
  margin-top: 10px;
}

/* ----HomeNavbar---- */
/* ----HomeNavbar---- */
/* ----HomeNavbar---- */



/* ----HomeNav---- */
/* ----HomeNav---- */
/* ----HomeNav---- */
.homenav-navitem {
  font-weight: 600;
  margin-inline: 24px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}


@media only screen and (max-width: 992px) {
  .homenav-navitem {
    display: block;
    margin: 12px;
    padding-left: 24px;
  }
}

.abel-e-katalog {
  text-decoration: none !important;
  color: black !important;
  border-bottom: 2px solid darkgreen;
}

.homenav-download-icon {
  width: 10px;
  margin: 5px;
}

.homenav-dropdownmenu {
  width: 850px !important;
  text-align: left !important;
  border: 0px !important;
  background-color: ghostwhite;
}


@media only screen and (max-width: 992px) {
  .homenav-dropdownmenu {
    width: 350px !important;
    text-align: left !important;
    border: 0px !important;
    background-color: ghostwhite;
  }
}

.homenav-dropdownitem {
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  color: grey;
  font-weight: 500;
}

.dd-toggle {
  background-color: white !important;
  border: none;
  color: black;
  font-weight: 600;
}

.homenav-navitem:hover {
  color: grey !important;
}

.dd-toggle:hover {
  color: white !important;
  background-color: #7CB9E8 !important;
}

.dd-item {
  text-decoration: none !important;
  color: grey !important;
  font-size: 14px !important;
}

/* ----HomeNav---- */
/* ----HomeNav---- */
/* ----HomeNav---- */


/* ----About---- */
/* ----About---- */
/* ----About---- */

.abo-img {
  width: 75%;
}

/* ----About---- */
/* ----About---- */
/* ----About---- */


/* ----Footer---- */
/* ----Footer---- */
/* ----Footer---- */
.footer-abel {
  background-color: #7CB9E8;
  color: white;
  padding-bottom: 24px;
  font-weight: 600;
}

.homenav-navitem-footer {
  color: white !important;
}

.footer-icon {
  width: 30px;
  margin: 10px;
}

.footer-download-icon {
  width: 15px;
  margin: 5px;
}

.designedby {
  font-size: 12px;
  margin: 24px;
}

/* ----Footer---- */
/* ----Footer---- */
/* ----Footer---- */





/* ----Certificate---- */
/* ----Certificate---- */
/* ----Certificate---- */
.certificate-image {
  width: 300px;
  height: 400px;
  margin: 50px;
}


.certificate {
  text-align: center;
}

/* ----Certificate---- */
/* ----Certificate---- */
/* ----Certificate---- */





/* ----Contact---- */
/* ----Contact---- */
/* ----Contact---- */
.abel-contact-row {
  text-align: center;
  justify-content: center;
}

.abel-iletisim-card {
  background-color: whitesmoke;
  margin: 24px;
  border: 1px solid darkgray !important;
  border-radius: 24px !important;
}


.card-adres {
  background-color: whitesmoke !important;
  margin: 24px;
  padding: 24px;
  border: 1px solid grey !important;

}


.googlemap {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border: 1px solid antiquewhite;
}

@media only screen and (max-width: 992px) {
  .googlemap {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border: 1px solid antiquewhite;
  }
}


#contact_form {
  text-align: start !important;
}

/* ----Contact---- */
/* ----Contact---- */
/* ----Contact---- */




/* ----Lastnews---- */
/* ----Lastnews---- */
/* ----Lastnews---- */


.lastnews-card {
  margin: 35px !important;
  min-width: 300px;
  border: 1px solid black;
}


/* ----Lastnews---- */
/* ----Lastnews---- */
/* ----Lastnews---- */












/* ----Carousel---- */
/* ----Carousel---- */
/* ----Carousel---- */

.background-item {
  width: 100%;
  height: 500px;
  background-color: silver;
}

.background-item-1 {
  width: 100%;
  height: 500px;
  background-color: teal;
}

.background-item-2 {
  width: 100%;
  height: 500px;
  background-color: brown;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.first-text {
  font-size: 72px;
  text-shadow: 2px 2px black;
}

@media only screen and (max-width: 992px) {
  .first-text {
    font-size: 48px;
    text-shadow: 2px 2px black;
  }
}

/* ----Carousel---- */
/* ----Carousel---- */
/* ----Carousel---- */




.products-div {
  height: 300px;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .products-div {
    height: 100%;
    margin-bottom: 16px;
  }
}

.products-navlink {
  display: block;
  text-decoration: none;
  color: grey;
  margin: 5px;
  font-size: 14px;
}

.products-navlink:hover {
  border-bottom: 1px solid black;
}






.centered-caro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  color: white;
  font-weight: 600;
  text-shadow: black 5px 0 10px;
  text-align: center;
}


@media only screen and (max-width: 1112px) {
  .centered-caro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: red;
    font-weight: 600;
    text-shadow: white 5px 0 10px;

  }
}

@media only screen and (max-width: 762px) {
  .centered-caro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: red;
    font-weight: 600;
    text-shadow: white 5px 0 10px;
  }
}


.caro-images {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}






.products-icon {
  width: 42px;
  float: left;
  margin-right: 10px;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 75%;

}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}


.type-writer {
  text-align: center;
  font-size: 96px;
  padding: 128px;
  background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
}


@media only screen and (max-width: 762px) {
  .type-writer {
    text-align: center;
    font-size: 64px;
    padding: 64px;
    background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
  }
}



@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

.ln-container {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.ln-square:hover {
  -webkit-transform: translate(20px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(10px, -10px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}


.ln-square {
  width: 460px;
  height: 430px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 24px;
  margin-left: 24px;
}

.ln-mask {
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
}

.ln-mask img {
  width: 460px;
}

.ln-h1 {
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;

  font-family: 'Merriweather', serif;
  font-size: 24px;
}

.ln-p {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #C8C8C8;
  line-height: 18px;
}

.ln-button {
  background-color: #3EDD84;
  color: white;
  width: 90px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 70px;
  font-size: 12px;
  cursor: pointer;
  font-family: 'merriweather';
}

.prod-card {
  background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
  padding: 12px;
  height: 200px;
  margin: 12px;
}

.prod-btn {
  margin-top: 5px;
  position: absolute;
  bottom: 12px;
}